{{ define "main" }}
<div class="page-containers">
  <header class="page-bg about-bg"></header>
  <h1 class="page-title">{{ .Site.Title }}</h1>

  <div class="row">
    <div class="post-content" itemprop="articleBody">
      <div id="main" class="col-mb-12 col-8" role="main">
        {{ $pages := where .Site.RegularPages "Section" "posts" }}
        {{ $pag := .Paginate $pages }}
        {{ range $pag.Pages }}
          {{ partial "post-card.html" . }}
        {{ end }}
        {{ template "_internal/pagination.html" . }}
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</div>
{{ end }}
